.page {
  background-color: #D3D0CB;
  width: 40%;
  height: 1200px;
  margin: auto;
  padding-left:2%;
}

#article_title {
  font-size:400%;
  font-family: 'Anton', sans-serif;
  letter-spacing:10px;
  font-weight:lighter;
  color:#461220;
}

#intro {
  font-size:190%;
  font-family: 'Oswald', sans-serif;
  line-height: 250%;
  padding-right: 2%;
  font-weight: light;
  color: #8C2F39;
}

.question{
  font-size:160%;
  padding-right:7%;
  font-family: 'Raleway', sans-serif;
  font-weight: 900;
  letter-spacing: 200%;
  color:#4C5760;
  margin-bottom:-0.001px;
  text-shadow: 1.5px 1.5px #000000;
}

.answer{
  font-size:160%;
  padding-right:5%;
  font-weight:bold;
  font-family: 'Raleway', sans-serif;
  color:#4C5760;
  margin-top:-0.001px;
}

#block_quote {
  font-size:250%;
  font-weight:bold;
  font-family: 'Oswald', sans-serif;
  color: #8C2F39;
  margin: auto;
  padding-left: 25%;
  padding-right: 15%;
  box-shadow: 0px 10px #461220;
}
